rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // On utilise {collectionName} pour que ça marche pour "furniture", "cutting_boards", etc.
    match /artifacts/tat-made-in-normandie/public/data/{collectionName}/{itemId} {
      allow read: if true;

      function isArtisan() {
        return request.auth != null && 
               (request.auth.token.email == 'matthis.fradin2@gmail.com' || 
                request.auth.token.firebase.sign_in_provider == 'password');
      }

      allow create, delete: if isArtisan();
      allow update: if isArtisan() || (
        request.auth != null && 
        request.resource.data.currentPrice > resource.data.currentPrice &&
        request.resource.data.name == resource.data.name
      );
        
      match /bids/{bidId} {
        allow read: if true;
        allow create: if request.auth != null;
      }

      // ACCÈS TÉLÉMÉTRIE & LOGS
      match /logs/{logId} {
        allow create: if true;
        allow read, delete: if isArtisan();
      }
    }

    // REGLES PANIER UTILISATEUR
    match /users/{userId}/cart/{cartItem} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // REGLES COMMANDES
    match /orders/{orderId} {
      allow create: if request.auth != null;
      allow read, update: if request.auth != null && (request.auth.uid == resource.data.userId || 
                             request.auth.token.email == 'matthis.fradin2@gmail.com');
    }
  }
}
